.App {
  text-align: center;
}


.cell{
  border: 1px solid #2c2f33;
  height: 10px;
  width: 10px;
  float: left;
  margin: 0;
  background-color: #99aab5;
}

.gridContainer {
    width: 720px;
    margin: 20px auto;
    margin-bottom: 10px;
}


[data-value="true"] {
  background-color: #23272a;
}

[data-value="player"]{
  background-color: red;
}

[data-value="enemy"]{
  background-color: green;
}

[data-value="health"]{
  background-color: yellow;
}

[data-value="stairs"]{
  background-color: black;
}

[data-value="weapon"]{
  background-color: blue;
}

.overlay{
  position: absolute;
  background-color: black;
  height: 100%;
  width: 100%;
  transition: opacity 8s;
  -webkit-transition: opacity 8s;
}


.statsContainer{
  display: block;
}
